<div class="main">

<div class="squares">
  <div class="square" data-index="0"></div>
  <div class="square" data-index="1"></div>
  <div class="square" data-index="2"></div>
  <div class="square" data-index="3"></div>
  <div class="square" data-index="4"></div>

  <div class="square" data-index="5"></div>
  <div class="square" data-index="6"></div>
  <div class="square" data-index="7"></div>
  <div class="square" data-index="8"></div>
  <div class="square" data-index="9"></div>

  <div class="square" data-index="10"></div>
  <div class="square" data-index="11"></div>
  <div class="square" data-index="12"></div>
  <div class="square" data-index="13"></div>
  <div class="square" data-index="14"></div>

  <div class="square" data-index="15"></div>
  <div class="square" data-index="16"></div>
  <div class="square" data-index="17"></div>
  <div class="square" data-index="18"></div>
  <div class="square" data-index="19"></div>

  <div class="square" data-index="20"></div>
  <div class="square" data-index="21"></div>
</div>

<h1><a href="https://bbhosted.cuny.edu/webapps/portal/frameset.jsp?tab_tab_group_id=_50_1&url=%2Fwebapps%2Fblackboard%2Fexecute%2Flauncher%3Ftype%3DCourse%26id%3D_947900_1%26url%3D">CSCI 133 | Programming for Everyone</a></h1>



<% if @current_unit %>
<p class="name"><%= @name %></p>

<div class="user-info">
  <div class="summary">
    <p>CURRENT UNIT: <%= @current_unit %></p>
    <p>TIME-OFF PNTS: <%= @timeoff %> out of 5</p>
    
  </div>

  <table>
    <tr class="head">
      <td id="date">Date</td>
      <td>Time/Off</td>
      <td>Hours</td>
      <td>Test</td>
      <td>Unit</td>
    </tr>
  
  <tr>
  <% @data.each_with_index do |item, index| %>
    <% if index % 5 == 0 && index != 0 %>
      </tr><tr>
    <% end %>
    <% if (index-1) % 5 == 0  %>
    <td class="timeoff"><%= item %></td>
    <% else %>
    <td><%= item %></td>
    <% end %>
  <% end %>
  </tr>

  </table>

  <div class="note">
    <p>A: Absent</p>
    <p>L: Late</p>
    <p>H: Half</p>
  </div>
</div>
  
<% elsif @message %>  
  <p class="error"><%= @message %></p>
  
<% else %>

  <div class="final-date">
    <p>FINAL </p>
    <p>May 22, 2014</p>
    <p>6:20pm - 8:20pm</p>
    <p>1001-G N</p>
  </div>


  <form action="<%= home_index_url %>" method="GET">
  <input  
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  ></input>

  <label>
  <input type="text" name="name[first]" placeholder="First name" value="<%=  %>"></input>
  </label>

  <label>
  <input type="text" name="name[last]" placeholder="Last name" value="<%=  %>"></input>
  </label>

  <input type="submit" value="GO!"></input>
  </form>

<% end %>
  <p class="updated">LAST UPDATED: <%= @updated %></p>

</div>

 <script>
 $(function() {
   
   var things = [];
   things =  <%= raw @dates.to_json %>;

   var num = 1;
   things.forEach(function(entry) {
     if (entry[1] == ''){
       $('.square:nth-child(' + num + ')').css('background-color', 'green');
     }
     else if(entry[1] == 'A'){
       $('.square:nth-child(' + num + ')').css('background-color', 'red'); 
     }
     else {
       $('.square:nth-child(' + num + ')').css('background-color', 'orange');
     }
     num++;
   })
   
   $('.square').css('color', 'white');
   $(".square").hover(function(){
     var index = $(this).attr("data-index")
     console.log();
     if( index < things.length){
       $(this).css('width', '65px');
       $(this).css('height', '17px');
       
       $(this).text(things[index][0]); 
     }

   },function(){
       $(this).css('width', '11px');
       $(this).css('height', '15px');
       
       $(this).text("");
   }); 
 })
</script> 
