<div class="main">

<h1><a href="https://bbhosted.cuny.edu/webapps/portal/frameset.jsp?tab_tab_group_id=_50_1&url=%2Fwebapps%2Fblackboard%2Fexecute%2Flauncher%3Ftype%3DCourse%26id%3D_947900_1%26url%3D">CSCI 133 | Programming for Everyone</a></h1>


<% if @current_unit %>
<div class="user-info">
  <p class="name"><%= @name %></p>
  <div class="summary">
    <p>CURRENT UNIT: <%= @current_unit %></p>
    <p>TIME-OFF PNTS: <%= @timeoff %> out of 5</p>
  </div>

  <table>
    <tr class="head">
      <td>Date</td>
      <td>Time/Off</td>
      <td>Hours</td>
      <td>Test</td>
      <td>Unit</td>
    </tr>
  
  <tr>
  <% @data.each_with_index do |item, index| %>
    <% if index % 5 == 0 && index != 0 %>
      </tr><tr>
    <% end %>
    <% if (index-1) % 5 == 0  %>
    <td class="timeoff"><%= item %></td>
    <% else %>
    <td><%= item %></td>
    <% end %>
  <% end %>
  </tr>

  </table>

  <div class="note">
    <p>A: Absent</p>
    <p>L: Late</p>
    <p>H: Half</p>
  </div>
</div>
  
<% elsif @message %>  
  <p class="error"><%= @message %></p>
  
<% else %>

  <form action="<%= home_index_url %>" method="GET">
  <input  
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  ></input>

  <label>
  <input type="text" name="name[first]" placeholder="First name" value="<%=  %>"></input>
  </label>

  <label>
  <input type="text" name="name[last]" placeholder="Last name" value="<%=  %>"></input>
  </label>

  <input type="submit" value="GO!"></input>
  </form>

<% end %>

</div>